/*----------------

  BASIC STYLING

----------------*/

body {
	height:100%;

	font-family: var(--font-stack);

}

button{
	 /* why font font-family is not inherit like font-size? */
	font-family: var(--font-stack); 
	font-size: 36px;
}

@media (--medium-window) {
	body{
		background-color: lightblue;
	}
}
