/*----------------

  BASIC STYLING

----------------*/


html {
	
	height:100%;
	min-height: 100%;
}

body {
	height:100%;
	overflow-x:hidden;

	font-family: var(--font-stack);
	font-weight: var(--regular);
	font-size: var(--font-size);
	line-height: var(--line-height);
	color: var(--dark-gray);

	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

}

.app-container{
	position: relative;
	width:100%;
	/* max-width: 1420px; */
	max-width: var(--content-width);
	margin: 0 auto;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}


h1,
.title-h1{
	font-size: 32px;
	line-height: 42px;
	font-weight: var(--normal);
    margin-bottom: 54px;
}

h2,
.title-h2{
	font-size: 32px;
	line-height: 38px;
	font-weight: var(--bold);
	margin-bottom: 38px;
}

.topline{
	font-size: 12px;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

p{
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-weight: var(--regular);
	margin-bottom: 32px;
	
}


strong{
	/* font-weight: var(--bold); */
	font-family: var(--font-stack-bold);
}
u {
	text-decoration: none;
	border-bottom:2px solid currentColor;
}

a{
	color: currentColor;
	text-decoration: none;
}

/* ul{
	list-style: none;
	padding: 0;
}  */

button{
	border: 0;
	padding: 0;
	background: none;
	color: currentColor;
	outline: 0;
	opacity: 1;
	cursor: pointer;
}

.sprite-icons{
	width: 40px;
	height: 40px;
}

hr{
	border:none;
	border-top: 1px solid var(--border-color);

	&.full{
		margin-left: calc(var(--app-margin) * -1);
		margin-right: calc(var(--app-margin) * -1);
	}
}

/* Link Hover Effect */
.link{
    position: relative
}

.line:after {
    position: absolute;
    content: "";
    left: auto;
    right: 0;
    bottom: -1px;
    height: 1px;
    width: 0;
    background-color: currentColor;
	/* background-color: var(--green); */
    transition: width 0.3s cubic-bezier(.455, .03, .515, .955)
}

.line:hover:after {
    left: 0;
    right: auto;
    width: 100%
}

.line.reverse:after {
    left: 0;
    right: auto;
    width: 100%
}

.line.reverse:hover:after {
    left: auto;
    right: 0;
    width: 0
}

.nuxt-link-exact-active:after{
	 
    left: 0;
    right: auto;
    width: 100%
}

.disabled{
	pointer-events: none
}

/* functional  */

.full-width{
	width: 100vw; 
	margin-left: 50%;
  	transform: translateX(-50%);
}


.small-text{
	font-size: var(--font-size-small);
}

/* services gradiends */

.color--data-knowledge,
.color--data---knowledge{
	background: linear-gradient(147.33deg, #DE8124 25%, #ECBC13 82.35%);
}

.color--atlases{
	background: linear-gradient(143.96deg, #EF3824 23.54%, #DE8124 76.52%);
}

.color--simulation{
	background: linear-gradient(133.71deg, #3B689B 26.45%, #58B3BD 84.06%);
}

.color--ai-and-robotics{
	/* background-color: var(--dark-gray); */
	background: linear-gradient(133.71deg, #182432 26.45%, #3C4142 84.06%);
}


/* Transitions */

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {	
  transition: 0.5s;
}

/* custom media queries */

/* @media (--xx-large-window) {

	h1,
	.title-h1{
		font-size: 32px;
    	line-height: 1.4;
		margin-bottom: 44px;
		background-color: red;
	}

	h2,
	.title-h2{
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 36px;
	}
 
} */

@media (--medium-window) {

	h1,
	.title-h1{
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 36px;
	}

	h2,
	.title-h2{
		font-size: 26px!important;
		line-height: 36px!important;
		margin-bottom: 36px!important;
	}
 
}
